body {
  font-family: "IBM Plex Mono", "Courier New", "Courier Prime", "Courier",
    monospace;
  margin: 0;
  padding: 0;

  background-color: #f1f1f1;
  color: #333;
  text-rendering: optimizelegibility;
  font-size: 1.4em;
}

table#dataTable {
  top: 0;
  border-collapse: collapse;
  width: 100vw;
  min-height: 100% auto;
  border-color: rgb(100, 100, 100);
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  overflow-x: scroll;
}

th,
td {
  border: 1px solid rgb(100, 100, 100);
  padding: 3px;
  text-align: left;
  white-space: pre;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

thead {
  background-color: lightblue;
  font-weight: bold;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  border-width: 0px 0px 2px 0px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

tbody tr:hover {
  background-color: orange;
}

tbody tr.highlighted {
  background-color: orange;
}

#optionsPanel {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  max-height: 100vh;
  background-color: rgba(128, 128, 128, 0.65);
  backdrop-filter: blur(3px);
  padding: 5px;
  transition: transform 0.5s ease;
  transform: translate(-1000px, -1000px);
  color: #f1f1f1;
  z-index: 1000;
}

#optionsPanel.open {
  transform: translate(0, 0);
}

#togglePanelButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 7px;
  background-color: rgba(15, 15, 15, 0.8);
  border: none;
  cursor: pointer;
  color: #eee;
  border-radius: 5px;
  z-index: 1001;
  font-size: 20px;
}

.hamburger-icon::before {
  content: "☰";
}

.menu-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
}

#optionsPanel h2 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

#optionsPanel label {
  display: block;
  margin-bottom: 3px;
}

#optionsPanel input[type="text"],
#optionsPanel textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 7px;
  background-color: rgba(0, 0, 0, 0.5); /*230,230,230,0.9);*/
  border: 2px ridge #666;
  color: #fff;
}

#optionsPanel button {
  background-color: orange;
  height: 30px;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#optionsPanel button:hover {
  background-color: goldenrod;
}

.option-desc {
  font-size: 0.8em;
  color: #ffe;
  margin-bottom: 15px;
}